nav {
  background-color: #ffffff;
  padding: 0.5px;
  width: 100%;               
  position: sticky;
  top: 0; 
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navTop {
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
}

table {
    width: 100%;
    height:200px;
    margin-bottom: 30px;
    border-radius: 8px ;
    overflow: hidden; 
    text-align: center;
    margin: auto;
}

.user{
    width:60%;
    height:20px;
    padding:10px;
    margin: auto;
}

.register{
    font-size: 20px;
}

.btn{
    width:auto;
    height:auto;
    padding:10px;
    font-size: 15px;
}

footer{
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    flex: 2;
    justify-content: space-between;
     padding: 50px;
}